body, html{
    padding:0;
    margin:0;
    width:100%;
    height:100%;
    color: #FFFFFF;
}

#main{
    width:100%;
    height:95%;
}

#header{
    background-color:rgb(30, 30, 36);
    color:#FFFFFF;
    width:100%;
    height:8%;
    position: relative;
    border-bottom: 1px solid black;
}

.header-logo-container{
    height:100%;
    display: inline-block;
    margin-left: 2px;
}

.header-logo-image{
    height:100%;
}

.header-name{
    display: inline-block;
    font-weight: 700;
    font-size: 30px;
    vertical-align: middle;
}

#map{
    width:100%;
    height:100%;
}

.sidebar {
    height: 92%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 8%;
    right: 0;
    background-color: rgb(30, 30, 36);
    overflow-x: hidden;
    padding-top: 1%;
    transition: 0.5s;
    white-space: nowrap;
    color:#FFFFFF;

}

div.sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
}

/* When you mouse over the navigation links, change their color */
.sidebar a:hover {
    color: #212121;
}

/* Position and style the close button (top right corner) */
.sidebar .sidebar-close-btn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.sidebar-body-building-sensor{

}

.sidebar-actions{
    border-top: 1px solid #818181;
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 5px;
    border-radius: 5px;
    background: rgb(8, 63, 110);
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: rgb(252, 180, 4);
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: rgb(252, 180, 4);
    cursor: pointer;
}


.sidebar-header{
    margin-bottom: 35px;
}

.sidebar-body-production-div{
    color: rgb(115, 193, 19);
}

.sidebar-body-consumption-div{
    color: rgb(186, 64, 16);
}


.sidebar-sensor-color-div{
    width: 50px;
    height: 50px;
    background-color: rgb(115, 193, 19);
    margin: 0 auto;
    border-radius: 25%;

}

.sidebar-sensor-text-div{
    text-align: center;
    margin-bottom: 10px;
}

.header-container{
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 50%;
}

.header-button-div{
    position: absolute;
    top:20px;
    left: 0;
}



#toggle-shadows-btn{
    background-color: #382e3f;
    border-color: #382e3f;
}

#toggle-shadows-btn:hover{
    background-color: #382e3f;
    border-color: #382e3f;
}

#toggle-shadows-btn:active{
    background-color: #716977;
    border-color: #716977;
}


h1 {
    font-family: Tahoma, Geneva, sans-serif ;
    font-size: 24px;
    font-style: normal;
    font-variant: normal;
    font-weight: 500;
    line-height: 26.4px;
}
h3 {
    font-family: Tahoma, Geneva, sans-serif ;
    font-size: 14px;
    font-style: normal;
    font-variant: normal;
    font-weight: 500;
    line-height: 15.4px;
}

blockquote {
    font-family: Tahoma, Geneva, sans-serif ;
    font-size: 21px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 30px;
}
pre {
    font-family: Tahoma, Geneva, sans-serif ;
    font-size: 13px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 18.5667px;
}

p{
    font-family: Tahoma, Geneva, sans-serif ;
    font-size: 13px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 18.5667px;
}
