<div id="header">
    <div class="header-logo-container">
        <img src="/logo.png" class="header-logo-image" />
    </div>

    <div class="header-name">ICaRUS</div>
    <div class= "header-container">
    	<div class="container">
    		<div class="row">
    			<div class="col-5">
    				<H5> Panneaux Minimum : <span>....</span></H5>
			    	<div class="slidecontainer" id = "header-slider-number-panels">
			    		<input type="range" min="1" max="100" value="50" class="slider" id="slider-number-panels">
					</div>
				</div>

				<div class="col-5">
					<H5> Score Minimum : <span>....</span></H5>
			    	<div class="slidecontainer" id = "header-slider-minimum-score">
			    		<input type="range" min="1" max="100" value="50" class="slider" id="slider-number-panels">
					</div>
				</div>
				<div class="col-2">
					<button type="button" id="toggle-shadows-btn" class="btn btn-primary header-button-div">Zones d'ombres </button>
				</div>

			</div>
		</div>
    </div>

  

</div>
