<!DOCTYPE html>
<html>
<head>
    <title>ICaRUS</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" type="text/css" href="main.css">
    <!-- Libs -->
    <script src="http://maps.google.com/maps/api/js?key=AIzaSyBhHNUlgSfbaZw9J1k4rl5BnDjVabr8mtI"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.bundle.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <script src="lib/gmaps.js"></script>

    <!-- Code -->
    <script src="Helper.js"></script>
    <script src="MapManager.js"></script>
    <script src="ChartManager.js"></script>
    <script src="SidebarManager.js"></script>
    <script src="BuildingManager.js"></script>
    <script src="SensorManager.js"></script>
    <script src="MockManager.js"></script>
    <script src="main.js"></script>
</head>
<body>
	<%= header %>
    <%= mainContent %>
	<%= sidebar %>
</body>
</html>