<div id="sidebar" class="sidebar">
    <div class="sidebar-header">
        <!--div class="sidebar-title"></div-->
        <a href="javascript:void(0)" class="sidebar-close-btn">&times;</a>
    </div>

    <div class="sidebar-body">
        <div class="sidebar-body-building-infos">
            <div class="container">
                <!--
                <div class="row">

                    <ul>
                        <li class="sidebar-body-daylight">Période d'ensolleillement : <span>---</span> h par jour</li>
                        <li class="sidebar-body-install-cost">Cout d'installation : <span>---</span> $</li>
                        <li class="sidebar-body-energy-consumption">Consommation d'énergie : <span>---</span> kW/h</li>
                        <li class="sidebar-body-expected-saving-per-month">Épargne estimé par mois : <span>---</span> $</li>
                        <li class="sidebar-body-roi">Temps de retour sur investissement : <span>---</span> mois</li>
                    </ul>
                </div>
                -->

                <div class="row">
                    <div class= "col-6 sidebar-body-address-div">
                           <H1><span>Adresse</span></H1>  
                    </div>

                    <div class= "col-6 sidebar-body-action-button">
                        <button type="button" id="send-demand-btn" class="btn btn-primary">Envoyer </button>
                    </div>
                </div>

                <div class="row">
                    <div class= "col-8">
                        <div class="slidecontainer sidebar-body-nb-panneaux">
                            Nombre de panneaux : <span>---</span>
                        </div>
                    </div>

                    <div class= "col-4 sidebar-body-consumption-div">
                        Consommation <span>---</span>
                    </div>
                </div>
                <div class="row">
                    <div class= "col-8">
                        <div class="slidecontainer">
                              <input type="range" min="1" max="100" value="50" class="slider" id="slider-number-panels">
                        </div>
                    </div>
                    <div class= "col-4 sidebar-body-production-div">
                        Production <span>---</span>
                    </div>
                </div>

                <div class="sidebar-body-cost-graph">
                    <canvas id="sidebar-cost-graph"></canvas>
                </div>


            </div>
        </div>

        <div class="sidebar-body-building-sensor">
            <div class="sidebar-body-building-sensor-graph">
                <canvas id="sidebar-sensor-graph"></canvas>
            </div>
            <div class="sidebar-body-building-sensor-realtime">

                <div class="container">

                    <div class="row">
                        <div class= "col-2 sidebar-body-empty-div"></div>
                        <div class= "col-3 sidebar-sensor-text-div">
                            Capteur 1 
                        </div>

                        <div class= "col-2 sidebar-body-empty-div"></div>

                          <div class= "col-3 sidebar-sensor-text-div">
                            Capteur 2 
                        </div>

                        <div class= "col-2 sidebar-body-empty-div"></div>
                    </div>

                    <div class="row">

                        <div class= "col-2 sidebar-body-empty-div"></div>

                        <div class= "col-3">
                            <div class= "sidebar-sensor-color-div" id ="sensor-1-color-div"></div>
                        </div>

                        <div class= "col-2 sidebar-body-empty-div"></div>

                        <div class= "col-3">
                            <div class= "sidebar-sensor-color-div" id ="sensor-2-color-div"></div>
                        </div>
                        <div class= "col-2 sidebar-body-empty-div"></div>

                      
                    </div>

                </div>
            </div>
        </div>
    </div>

</div>